<div class="row">
  <h3>詳しい使い方</h3>
  <p><strong>クリックしながらスライドさせ範囲を選択します。</strong></p>

  <p>pic</p>

  <p><strong>できた範囲をクリックすると下に編集画面が出てきます。</strong></p>

  <p>
    <ul>
      <li>開始時間、終了時間</li>
      </li>
    </ul> 
  </p>
  <p>
    範囲をドラッグし動かし調整、また、端にマウスを合わせると伸縮可能です。（値を入力して編集することもできます。）
  </p>

  <p>
    <ul>
      <li>ラベルとコメント</li>
      </li>
    </ul> 
  </p>
  <p>ラベルは評価する際の一般的な項目を表します。コメントは、それに対するより詳しい講評を表します。（どれにも該当しない場合は、「その他」を選択し、コメントに入力してください。）</p>


</div>